@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
  box-sizing: border-box;
  /* Remove blue highlight background on touch on mobile devices */
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: 'Open Sans';
}

.app {
  display: flex;
}

.app__main {
  flex: 1;
  padding: 2em;
}

@media (max-width: 1100px) {
  .app {
    display: block;
  }
}

@import url('main.css');
@import url('sideinfo.css');
