#main__map {
  margin-top: 50px;
  border-radius: 12px;
  /* border: 1px solid red; */
  overflow: hidden;
  padding: 2em 0em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.leaflet-interactive {
  transition: 0.3s;
  transition-property: fill-opacity;
  stroke-width: 2;
}

.leaflet-interactive:hover {
  fill-opacity: 0.5;
}

/* @media (max-width: 900px) {

} */
